.subs-social
  .container
    .subs-social__grid
      .subs-social__col
        .subs-social__title <strong>Будьте в&nbsp;курсе последних новинок и&nbsp;новостей</strong> не&nbsp;выходя из&nbsp;соцсетей
      .subs-social__col
        .subs-social__mediaplugin
          #fb-root
          script(async defer crossorigin="anonymous" src="https://connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v3.3")

          .fb-page(
            data-href="https://www.facebook.com/facebook"
            data-tabs="timeline"
            data-width="420"
            data-height=""
            data-small-header="true"
            data-adapt-container-width="true"
            data-hide-cover="false"
            data-show-facepile="true")
